<% if @notification %>
  <div class="modal fade" id="NotificationModal" tabindex="-1">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <span></span>
          <h5 class="modal-title">あなた宛に通知が来ています</h5>
          <a href="#" class="close close-button" data-dismiss="modal"></a>
        </div>
        <div class="modal-body">
          <span class="modal-inline-text">通知内容によってメッセージを切り替える</span>
        </div>
        <div class="modal-footer">
            <%= link_to "確認した", checked_notification_path(@notification), class: "btn" %>
        </div>
      </div>
    </div>
  </div>
<% end %>