<h1>Top#about</h1>
<p>お気に入りの飲食店を、身近な友だちとだけ共有できるwebアプリです</p>

  <!-- 招待されて飛んできた直後 -->
  <% if !user_signed_in? && session[:previous_url].present? %>

    <%= button_to "会員登録", new_user_registration_path, method: :get %> 

    <p>もしもすでに会員登録を終えている方は</p>
    <%= button_to "ログイン", new_user_session_path, method: :get %>

  <!-- 招待されてきて、会員登録した後 -->
  <% elsif user_signed_in? && session[:previous_url].present? %>
    <% unless @user.request_allowed == false %>
      <p>招待されてきた方はこちら</p>
      <%= button_to "入室申請する", member_requests_path(params: {url: session[:previous_url]}), method: :post %>
    <% else %>
      <p>申請が通るまで少々お待ち下さいm(_ _)m</p>
    <% end %>


    
  <!-- 招待で来たわけではない人(何もなし) -->
  <% else %>

  <% end %>