<h1>Favs We Know</h1>

<% if user_signed_in? %>
  <!-- ログインしていて、部屋を持っていない：部屋作成画面 -->
  <p>ログイン後画面</p>

    <% if session[:previous_url].nil? %>

      <p>部屋を作成して、友だちを呼びましょう！</p>
      <%= button_to "部屋作成へ", new_room_path, method: :get %>

    <% end %>

    <%= button_to "ログアウト", destroy_user_session_path, method: :delete %>

<% else %>
  <!-- ログインしていなければログインor会員登録 -->
  <p>お気に入りのお店を友だちとシェアしましょう！</p>
  <p>このアプリを利用するにはまず会員登録が必要です</p>
  <%= button_to "ログイン", new_user_session_path, method: :get %>
  <%= button_to "会員登録", new_user_registration_path, method: :get %>

<% end %>
