<h1>Favs We Know</h1>
<p>お気に入りのお店を友だちとシェアしましょう！</p>
<%= button_to "ログイン", new_user_session_path, method: :get %>
<%= button_to "会員登録", new_user_registration_path, method: :get %>



<% if user_signed_in? %>
  <div class="grid-6">
    ログイン中！
    <%= button_to "ログアウト", destroy_user_session_path, method: :delete %>
  </div>
<% else %>
  <div class="grid-6">
    誰もいないよ！
  </div>
<% end %>
