
<!-- notification のactionの中身で切り分ける -->
<div class="container">
<% if notification.action = 'member_request' %>
  <!-- action = member_request のとき -->
    <div class="row">
      <div class="col-sm-6 col-12">
        <p><%= notification.visitor.name %>から通知が来ています</p>
        <p><%= notification.id %></p>
      </div>
      <% if notification.checked == false %>
        <div class="col-sm-3 col-12">
          <%= link_to 'OKする', allow_member_request_path(notification.member_request_id), method: :post, class: 'btn btn-primary btn-block' %>
        </div>
        <div class="col-sm-3 col-12">
          <%= link_to '断る', deny_member_request_path(notification.member_request_id), method: :post, class: 'btn btn-block btn-danger' %>
        </div>
      <% elsif notification.checked == true %>
        <div class="col-sm-3 col-12">回答済</div>
      <% end %>
  </div>
<!-- action = request_answer のとき：送信者がホーム画面に来たときに処理する -->
<!-- action = report のとき -->
<% elsif notification.action = 'report' %>
  <div>reportが来ました</div>
<!--  -->
<!--  -->
<% end %>
</div>
