.main-image {
  text-align: center;
}

.img-thumbnail {
  max-height: 300px;
  border: none;
}

.btn-container {
  .btn {
    width: 200px;
  }
}

.notice {
  text-align: center;
  border: 2px solid;
  width: 60%;
  margin: auto;
  margin-top: 20px;
}