.basic-info {
  border: 1px solid #000;
}

.report-link {
  background-color: bisque;
  width: 80%;
  text-align: center;

  a {
    width: 100%;
  }
}

.required:after {
  content: " *";
}

.tel:after {
  content: " (ハイフンなし)";
}

.submit {
  margin: 40px 0;
}